{% extends "blog/base.html" %}

{% block title %}
Users
{% endblock title %}

{% block content %}

    {% if not user_list %}
        <div class="container-flex bg-light info_container">
            <h1 class="text-info">There are no users</h1>
        </div>
    {% else %}
        {% for user in user_list %}
            <div class="container-flex" style="margin-bottom: 5em;">   
                {% include "blog/snippets/user.html" %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}