{% extends "blog/base.html" %}
{% load static %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
    
    <div id="blogContainer" class="container-flex">
        <div class="container-flex bg-light blog_list_container">
            <div class="blog_list_header">
                <h1 class="text-center text-dark">{{ blog.name }}</h1>
                <hr>
                <div class="blog_list_header_info">
                    <span class="text-dark">Posts: {{ blog.posts.count }}</span>
                    <span class="text-dark">Author: <a href="{{ blog.user.get_absolute_url }}">{{ blog.user.username }}</a></span>
                </div>
            </div>
        </div>
        {% if user == blog.user %}
            <div class="container-flex">
                <a role="button" class="btn btn-block btn-info" href="{% url 'post_new' blog.id %}">Add post</a>
            </div>
            <div class="container-flex">
                <a role="button" class="btn btn-block btn-danger" href="{% url 'blog_delete' blog.id %}">Delete blog</a>
            </div>
        {% endif %}
        
        {% for post in post_list %}
            
            {% include "blog/snippets/post.html" %}

        {% endfor %}
    </div>

{% endblock content %}
